<!DOCTYPE html>
<html>
  <head>
    <title>UndertaleMemes</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Undertale memes</h1>
    <div class="menu">
        <ul>
            <li>Home</li>
            <li><%= link_to "Memes", memes_path %></li>
            <li><%= link_to "Post New Meme", new_meme_path %></li>
            <li>Contact</li>
        </ul>
    </div>
    <%= yield %>
  </body>
</html>
